layout {
    gaps 8
    center-focused-column "never"
    background-color "transparent"

    focus-ring {
        width 4
        active-gradient from="#7aa89f" to="#223249" angle=135
        inactive-color "#1a1a1a"
    }

    shadow {
        on
        softness 15
        color "rgba(0, 0, 0, 0.5)"
    }

    struts {}
}

    recent-windows {
        open-delay-ms 0        // sofort anzeigen statt mit Verzögerung
    
    previews {
        max-height 480     // größere Vorschaubilder
        max-scale 0.5
    }
    
    highlight {
        active-color "#7aa89f"    // deine aktive Focus-Ring Farbe
        padding 8
    }
}

// ────────────── Cursor ──────────────
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
 }

// ────────────── Workspaces ──────────────
// 1 = Browser | 2 = Chat | 3 = Gaming | 4 = Sonstiges
workspace "1"
workspace "2"
workspace "3"
workspace "4"
