prefer-no-csd
//screenshot-path null
screenshot-path "~/Bilder/Screenshots/%Y-%m-%d %H-%M-%S.png"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "24"
    XDG_PORTAL_BACKEND_CONF "niri"

    // NVIDIA Optimierungen (bei Bedarf aktivieren)
    //WLR_NO_HARDWARE_CURSORS "1"
    //LIBVA_DRIVER_NAME "nvidia"
    //__GLX_VENDOR_LIBRARY_NAME "nvidia"
    __GL_SHADER_DISK_CACHE_SKIP_CLEANUP "1"
}

debug {
    // Erlaubt Notification-Actions und Window-Aktivierung von Noctalia
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}
