layout {

    focus-ring {
        active-color   "#954a0d"
        inactive-color "#fff8f5"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#954a0d"
        inactive-color "#fff8f5"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#954a0d"
        inactive-color "#ffdbc8"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#954a0d80"
    }
}

recent-windows {
    highlight {
        active-color "#954a0d"
        urgent-color "#ba1a1a"
    }
}
