layout {

    focus-ring {
        active-color   "#556067"
        inactive-color "#fbf9f9"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#556067"
        inactive-color "#fbf9f9"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#556067"
        inactive-color "#d9e4ed"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#55606780"
    }
}

recent-windows {
    highlight {
        active-color "#556067"
        urgent-color "#ba1a1a"
    }
}
