layout {

    focus-ring {
        active-color   "#7c563c"
        inactive-color "#fff8f5"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#7c563c"
        inactive-color "#fff8f5"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#7c563c"
        inactive-color "#ffdcc7"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#7c563c80"
    }
}

recent-windows {
    highlight {
        active-color "#7c563c"
        urgent-color "#ba1a1a"
    }
}
