prefer-no-csd
//screenshot-path null
screenshot-path "~/Bilder/Screenshots/%Y-%m-%d %H-%M-%S.png"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_CLASS "user"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "24"
    XDG_PORTAL_BACKEND_CONF "niri"

    __GL_SHADER_DISK_CACHE_SKIP_CLEANUP "1"
}

blur {
    passes 2        // more passes = stronger blur (default: 3)
    offset 3.0      // sample distance per pass (default: 3.0)
    noise 0.03      // grain overlay (default: 0.02)
    saturation 1.0  // color saturation boost (default: 1.5)
}

debug {
    // Erlaubt Notification-Actions und Window-Aktivierung von Noctalia
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}
