// ────────────── Globale Fenster-Optik ──────────────
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 1.0
    draw-border-with-background false 
   
}

// ────────────── Layer Rules ──────────────
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

// ────────────── Window Rules ──────────────

// Dialoge und System-Tools (Floating)
window-rule {
    match app-id="xdg-desktop-portal-gnome"
    match app-id="xdg-desktop-portal-kde"
    match app-id="xdg-desktop-portal-gtk"
    match app-id="xdg-desktop-portal-wlr"
    match app-id="zenity"
    match app-id="pavucontrol"
    match app-id="blueman-manager"
    
    open-floating true
}

// Browser (Zen)
window-rule {
    match app-id="zen-beta"
    open-on-workspace "1"
    focus-ring { off; }
    border { off; }
    default-column-width { proportion 1.0; }
}

// Zen Picture-in-Picture
window-rule {
    match app-id=r#"zen-beta$"# title="^Picture-in-Picture$" 
    open-floating true
}

// Chat (Vesktop)
window-rule {
    match app-id="legcord"
    match title="^Discord - Legcord$"
    match title="Legcord"
    open-on-workspace "2"
    default-column-width { proportion 1.0; }
    focus-ring { off; }
    opacity 0.9
    geometry-corner-radius 10
    clip-to-geometry true
}

// Gaming (Steam, Lutris, Heroic, etc.)
window-rule {
    match app-id="steam"
    match app-id="net.lutris.Lutris"
    match app-id="com.heroicgameslauncher.hgl"
    match app-id="io.github.krawek.cartridges"
    match app-id="org.gnome.Nautilus" title="faugus"
    match app-id="faugus-launcher"
    match app-id="heroic"
    match title="Heroic"
    open-on-workspace "2"
    open-fullscreen false
    focus-ring { off; }
    open-floating false
}
window-rule {
    match app-id="kitty"

    // Sorgt dafür, dass die Ecken sauber abgerundet sind
    geometry-corner-radius 10
    clip-to-geometry true
    
    // Die Deckkraft (falls du sie nicht schon in der kitty.conf hast)
    opacity 0.9
}
